USE [master]
GO
/****** Object:  Database [Interview]    Script Date: 12/06/2023 5:40:13 CH ******/
CREATE DATABASE [Interview]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Interview', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Interview.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Interview_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Interview_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Interview].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Interview]
GO
/****** Object:  Table [dbo].[BangDiem]    Script Date: 12/06/2023 5:40:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangDiem](
	[MaHP] [int] IDENTITY(1,1) NOT NULL,
	[MaHV] [int] NULL,
	[MaMH] [int] NULL,
	[Diem] [float] NULL,
	[HeSo] [int] NULL,
	[NamHoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 12/06/2023 5:40:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[MaHV] [int] IDENTITY(1,1) NOT NULL,
	[TenHV] [varchar](255) NULL,
	[Lop] [varchar](3) NULL,
 CONSTRAINT [PK_HocVien] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 12/06/2023 5:40:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [varchar](255) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([MaHV])
REFERENCES [dbo].[HocVien] ([MaHV])
GO
ALTER TABLE [dbo].[BangDiem]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
/****** Object:  StoredProcedure [dbo].[SPA_Get_Average_Scores_By_Class_And_Year]    Script Date: 12/06/2023 5:40:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo stored procedure
CREATE PROCEDURE [dbo].[SPA_Get_Average_Scores_By_Class_And_Year]
    @Lop VARCHAR(3),
    @NamHoc INT
AS
BEGIN
    SELECT HV.MaHV, HV.TenHV, MH.TenMH, AVG(BD.Diem) AS DiemTrungBinhMon
    FROM HocVien HV
    JOIN BangDiem BD ON HV.MaHV = BD.MaHV
    JOIN MonHoc MH ON BD.MaMH = MH.MaMH
    WHERE HV.Lop = @Lop AND BD.NamHoc = @NamHoc
    GROUP BY HV.MaHV, HV.TenHV, MH.TenMH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SPA_Insert_Data_Student]    Script Date: 12/06/2023 5:40:14 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tạo stored procedure
CREATE PROCEDURE [dbo].[SPA_Insert_Data_Student]
    @TenHV VARCHAR(255),
    @Lop VARCHAR(3),
    @TenMH VARCHAR(255),
    @Diem FLOAT,
    @HeSo INT,
    @NamHoc INT
AS
BEGIN
    DECLARE @MaHV INT;
    DECLARE @MaMH INT;
    DECLARE @MaHP INT;

    INSERT INTO HocVien (TenHV, Lop)
    VALUES (@TenHV, @Lop);
    SET @MaHV = SCOPE_IDENTITY();

    IF NOT EXISTS (SELECT 1 FROM MonHoc WHERE TenMH = @TenMH)
    BEGIN
        INSERT INTO MonHoc (TenMH)
        VALUES (@TenMH);
    END;

    SET @MaMH = (SELECT MaMH FROM MonHoc WHERE TenMH = @TenMH);

    INSERT INTO BangDiem (MaHV, MaMH, Diem, HeSo, NamHoc)
    VALUES (@MaHV, @MaMH, @Diem, @HeSo, @NamHoc);

    SET @MaHP = SCOPE_IDENTITY();
    SELECT @MaHP AS MaHP;
END;
GO
USE [master]
GO
